Repository Open-CAS/open-cas-linux, pull requests merged in 2024-09, with the labels that each got.

#1499 Add write performance test
  test/functional/tests/performance/test_performance_reads.py
  test/functional/tests/performance/test_performance_write.py
Labels: tests

#1402 tests: Fix invalid mark
  test/functional/tests/failover_standby/test_failover_advanced.py
Labels: enhancement, tests

#1488 test-api: Update cas api
  test/functional/api/cas/cache.py
  test/functional/api/cas/cache_config.py
  test/functional/api/cas/cas_module.py
  test/functional/api/cas/cas_packaging.py
  test/functional/api/cas/cas_service.py
  test/functional/api/cas/casadm.py
  test/functional/api/cas/casadm_params.py
  test/functional/api/cas/casadm_parser.py
  test/functional/api/cas/cli.py
  test/functional/api/cas/cli_help_messages.py
  test/functional/api/cas/cli_messages.py
  test/functional/api/cas/core.py
  test/functional/api/cas/dmesg.py
  test/functional/api/cas/git.py
  test/functional/api/cas/init_config.py
  test/functional/api/cas/installer.py
  test/functional/api/cas/ioclass_config.py
  test/functional/api/cas/progress_bar.py
  test/functional/api/cas/statistics.py
  test/functional/api/cas/version.py
  test/functional/requirements.txt
  test/functional/tests/conftest.py
Labels: tests, v24.9

#1496 tests: update tests
  test/functional/tests/512b/__init__.py
  test/functional/tests/512b/test_different_io_sizes_support.py
  test/functional/tests/basic/test_basic.py
  test/functional/tests/basic/test_start_cas.py
  test/functional/tests/cache_ops/__init__.py
  test/functional/tests/cache_ops/test_cleaning_policy_operation.py
  test/functional/tests/cache_ops/test_concurrent_flushes.py
  test/functional/tests/cache_ops/test_core_remove.py
  test/functional/tests/cache_ops/test_dynamic_cache_mode_switching.py
  test/functional/tests/cache_ops/test_multilevel_cache.py
  test/functional/tests/cache_ops/test_multistream_seq_cutoff.py
  test/functional/tests/cache_ops/test_seq_cutoff.py
  test/functional/tests/ci/test_basic.py
  test/functional/tests/ci/test_incremental_load_ci.py
  test/functional/tests/ci/test_recovery.py
  test/functional/tests/ci/test_simulation_startup.py
  test/functional/tests/cli/test_cas_memory_usage.py
  test/functional/tests/cli/test_cleaning_policy.py
  test/functional/tests/incremental_load/test_incremental_load.py
  test/functional/tests/initialize/test_recovery.py
  test/functional/tests/initialize/test_simulation_startup.py
  test/functional/tests/misc/test_files_permissions.py
  test/functional/tests/stress/test_stress_cleaning_policy_change.py
Labels: tests, v24.9

#1520 Fix for cas service after changing path type to string in fs_utils remove command
  test/functional/api/cas/cas_service.py
  test/functional/tests/conftest.py
Labels: tests, v24.9

#1525 Fix for core IO class statistics
  test/functional/api/cas/core.py
Labels: tests, v24.9
